.article {
  margin-top: 80px;

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  &__title {
    @extend %third-family-500;
    font-size: 48px;
    // margin-top: 84px -20 ;
    // margin-top: clamp(1.25rem, 0.45rem + 4vw, 5.25rem);

  }

  &__content {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: clamp(1.25rem, -7.143rem + 14.29vw, 10rem);
    line-height: 140%;
    // gap: 160px;
  }

  &__item {
    max-width: 480px;
  }



  @media screen and (width <=940px) {
    &__box {
      display: block;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__content {
      flex-direction: column;
    }

    &__item {
      max-width: none;
      width: 100%;
    }
  }
}