.author {
  padding-left: var(--indent);

  &__box {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
  }

  &__title {
    // margin-top: 84px -20 ;
    margin-top: clamp(1.25rem, 0.45rem + 4vw, 5.25rem);
    grid-column: 1 / 3;
  }

  &__pic--one {
    grid-column: 4/8;
  }

  &__pic--two {
    grid-column: 8/12;
  }

  &__img {
    max-height: 424px;
  }

  @media screen and (width <=940px) {
    &__box {
      display: block;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__img {
      // &:not(:last-child) {
      margin-bottom: 30px;
      // }
    }
  }
}