.candles {
  // padding-top: clamp(3.75rem, 2.725rem + 5.13vw, 8.875rem);
  padding-top: 161px;

  &__title {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .section-btn {
    bottom: 138px;
  }
}