.delivery {
  position: relative;
  padding-top: clamp(3.75rem, 2.725rem + 5.13vw, 8.875rem);
  // padding-top: 142px;

  &::before {
    position: absolute;
    content: '';
    width: 635px;
    height: 494px;
    left: 0;
    bottom: -209px;
    z-index: -1;
    background-image: -webkit-image-set(url(../images/delivery/bg1@1x.png) type('image/png') 1x,
        url(../images/delivery/bg1@2x.png) type('image/png') 2x);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  @media screen and (width < 768.99px) {
    &::before {
      bottom: 48%;
    }
  }
}