.delivery {
  position: relative;
  padding-top: clamp(3.75rem, 2.725rem + 5.13vw, 8.875rem);
  // padding-top: 142px;

  &::before {
    position: absolute;
    content: '';
    width: 635px;
    height: 494px;
    left: 0;
    bottom: -209px;
    z-index: -1;
    background-image: -webkit-image-set(url(../images/delivery/bg1@1x.png) type('image/png') 1x,
        url(../images/delivery/bg1@2x.png) type('image/png') 2x);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__text {
    width: 320px;
    line-height: 140%;
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 37px 48px;
    align-self: flex-end;
    font-weight: 600;
    // font-size: 16px;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    text-transform: uppercase;
    color: $accent;
    border-radius: 70%;
    border: 1px solid $accent;
  }

  @media screen and (width < 768.99px) {
    &__box {
      flex-direction: column;
    }

    &__text {
      width: 100%;
    }

    &__btn {
      position: static;
    }

    &::before {
      bottom: 48%;
    }
  }
}