.footer {
  color: $white;
  background-color: $black;
  // padding-top: 119px;
  padding-top: clamp(3.75rem, 3.013rem + 3.69vw, 7.438rem);
  padding-bottom: 20px;

  &__inner {
    display: flex;
    margin-bottom: 72px;
    gap: 40px 20px;

    @media screen and (width > 1144.99px) {
      padding-left: 57px;
      padding-right: 30px;
    }
  }

  &__nav {
    display: flex;
    font-weight: 500;

    @media screen and (width > 1144.99px) {
      margin-left: auto;
    }
  }

  &__list {
    &--mr {
      @media screen and (width > 1144.99px) {
        margin-right: 76px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    font-weight: inherit;
    font-size: 16px;
    color: inherit;
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: $see-all;

        .address__icon {
          fill: inherit;
        }
      }
    }
  }

  &__address-inner {
    @media screen and (width > 1144.99px) {
      margin-left: auto;
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 15px 34px;
  }

  &__info {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
  }

  @media screen and (width < 1144.99px) {
    &__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__nav {
      flex-direction: column;
      gap: 40px;
      text-align: center;
      order: 3;
    }

    &__address-inner {
      text-align: center;
    }

    &__social {
      justify-content: center;
    }

  }



}