.gift-baskets {
  // padding-top: 140px;
  padding-top: clamp(3.75rem, 2.75rem + 5vw, 8.75rem);

  &__title {
    position: absolute;
  }

  &__swiper-container {
    position: relative;
    margin-left: var(--indent);
    overflow: hidden;
  }

  &__list {
    margin-top: 51px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  .swiper-button {
    top: 4%;
  }

  .swiper-wrapper {
    padding-top: 106px;
    padding-left: 15px;
  }

  .swiper-slide-active + .swiper-slide-next + .swiper-slide + .swiper-slide {
    // opacity: 0.5;
    mask-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    mask-repeat: no-repeat;
    mask-position: top left;
    @include transition ($transition-property: (scale, box-shadow, mask-image));
  }


  @media screen and (width < 1180.99px) {
    .swiper-slide-next + .swiper-slide {
      mask-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      mask-repeat: no-repeat;
      mask-position: top left;
      @include transition ($transition-property: (scale, box-shadow, mask-image));
    }
  }

  @media screen and (width < 672.99px) {
    .swiper-slide-next {
      mask-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      mask-repeat: no-repeat;
      mask-position: top left;
      @include transition ($transition-property: (scale, box-shadow, mask-image));
    }
  }

  .swiper-slide-active {
    transform: scale(1.1);
    // margin-right: 113px !important;
    margin-right: clamp(1.25rem, 0.087rem + 5.81vw, 7.063rem) !important;

    .gift-baskets-card__link {
      box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05);
    }
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 34px;
  }
}

.gift-baskets-card {
  // max-width: 418px;
  // width: auto;
  // height: 559px;
  background-color: $white;

  &__inner {
    // padding: 0 15px 43px 15px;
    padding: 0 clamp(0.5rem, 0.412rem + 0.44vw, 0.938rem) clamp(1.438rem, 1.188rem + 1.25vw, 2.688rem);
  }

  &__link {
    border: 3px solid var(--bg);
    @include transition ($transition-property: (scale, box-shadow));

    @media (any-hover: hover) {
      // &:hover {
      //   box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05);
      // }
    }
  }
}