.glasses {
  // padding-top: 79px;
  padding-top: clamp(2.5rem, 2.012rem + 2.44vw, 4.938rem);

  &__btn {
    position: static;

    @media screen and (width >=1200px) {
      margin-left: -60px;
    }
  }

  .filter {
    margin-top: 101px;
  }
}

.glasses-slider {
  // padding-top: 147px;
  padding-top: clamp(2.5rem, 1.162rem + 6.69vw, 9.188rem);
  // padding-bottom: 81px;
  padding-bottom: clamp(0.625rem, -0.262rem + 4.44vw, 5.063rem);
}