.header {

  &__container {
    max-width: 1781px;
  }

  &__top-bg {
    padding-top: 16px;
    padding-right: 50px;
    padding-bottom: 16px;
    padding-left: 67px;
    background: $main-color;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__search {
    margin-left: auto;
  }

  &__btn {
    margin-left: auto;
    // margin-left: 80px;
  }

  &__contacts {
    margin-left: 50px;
  }


  &__bottom {
    display: flex;
  }
}

.header-item {
  padding-top: 10px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 0.50px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
}

.header-link {
  font-size: clamp(0.875rem, 0.844rem + 0.16vw, 1rem);
}