.hero {
  position: relative;
  color: $white;

  &::after {
    position: absolute;
    content: '';
    top: -22px;
    right: -16px;
    width: 938px;
    height: 470px;
    background-image: url('../images/hero/bg-banner.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
  }

  &__content {
    position: absolute;
    top: 71px;
    // right: 240px;
    right: 12.5%;
    z-index: 3;
    text-align: center;
  }

  &__text {
    margin-bottom: 13px;
    @extend %second-family-400;
    font-size: 53px;
  }

  &__title {
    max-width: 381px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__btn {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.25em;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  &__images {
    // position: absolute;
    top: 0;
    left: 0;
  }
}