.images {

  &-thumb {
    overflow: hidden;

    &--hero {
      background-color: $accent;
      width: 100%;
      // height: 424px;
      // height: clamp(16.125rem, 14.05rem + 10.38vw, 26.5rem);
      min-height: 319px;
      height: 426px;
    }

    &--w640 {
      max-width: 640px;
      // height: 553px;
      height: auto;
    }

    &--w320 {
      width: 320px;
      height: auto;
    }

    &--partners {
      // width: 640px;
      // height: 428px;
      height: clamp(14.875rem, 12.5rem + 11.88vw, 26.75rem);
    }

    &--delivery {
      width: 640px;
      height: 429px;
    }

    &--reach {
      width: 640px;
      height: 834px;
    }

    &--gift-baskets {
      max-width: 410px;
      // height: 377px;
      height: auto;
    }

    &--сonsultation {
      background-color: $accent;
      width: 100%;
      // height: 424px;
      // height: clamp(16.125rem, 14.05rem + 10.38vw, 26.5rem);
      min-height: 320px;
      height: 100%;
      // width: 907px;
      // height: 424px;
    }

    &--instagram {
      max-width: 397px;
      // height: 385px;
      height: auto;
    }

    &--gift-sets {
      max-width: 480px;
      // height: 385px;
      height: auto;
      border: 3px solid var(--bg);
      @include transition ($transition-property: box-shadow);
    }

    &--candles {
      max-width: 640px;
      // height: 385px;
      height: auto;
    }

    &--glasses {
      // position: relative;
      max-width: 256px;
      // height: 303px;
      height: 328px;
      // height: auto;
    }

    &--delicacies {
      // position: relative;
      max-width: 256px;
      height: 328px;
      // height: 303px;
      // height: auto;
    }

    &--wine {
      // position: relative;
      max-width: 270px;
      height: 328px;
      // height: auto;
    }

    &--card-secondary {
      // width: 122px;
      width: clamp(5.375rem, 3.768rem + 8.04vw, 7.625rem);
      height: clamp(5.375rem, 3.768rem + 8.04vw, 7.625rem);
      // height: auto;
    }

    &--card {
      width: 438px;
      // height: 122px;
      height: auto;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition ($transition-property: scale);
  }
}