.section-instagram {
  // padding-top: 151px;
  padding-top: clamp(3.75rem, 2.612rem + 5.69vw, 9.438rem);
  position: relative;
  // padding-bottom: 201px;
  padding-bottom: clamp(3.75rem, 1.988rem + 8.81vw, 12.563rem);

  &::before {
    position: absolute;
    content: "";
    width: 410px;
    height: 472px;
    right: 0;
    bottom: 32px;
    z-index: -1;
    background-image: -webkit-image-set(url(../images/instagram/bg1@1x.png) type("image/png") 1x, url(../images/instagram/bg1@2x.png) type("image/png") 2x);
  }

  &__top {
    position: relative;
    padding-top: 10px;
    // margin-bottom: 40px;
    margin-bottom: clamp(1.563rem, 1.25rem + 1.56vw, 3.125rem);
  }
}


.instagram {
  display: flex;
  gap: 4px;

  &__item {
    flex-basis: calc((100% - 12px) / 4);

    @media (any-hover: hover) {
      &:hover {
        .images-img {
          scale: 1.2;
        }
      }
    }
  }

  @media screen and (width < 768.99px) {
    flex-wrap: wrap;

    &__item {
      flex-basis: calc((100% - 6px) / 2);
    }
  }
}