.page-gift-sets {
  .section-hero {
    background-image: -webkit-image-set(url(../images/hero/slide2@1x.avif) type('image/avif') 1x,
        url(../images/hero/slide2@2x.avif) type('image/avif') 2x,
        url(../images/hero/slide2@1x.webp) type('image/webp') 1x,
        url(../images/hero/slide2@2x.webp) type('image/webp') 2x,
        url(../images/hero/slide2@1x.jpg) 1x,
        url(../images/hero/slide2@2x.jpg) 2x);
  }
}

.page-glasses {
  .section-hero {
    background-image: -webkit-image-set(url(../images/hero/slide3@1x.avif) type('image/avif') 1x,
        url(../images/hero/slide3@2x.avif) type('image/avif') 2x,
        url(../images/hero/slide3@1x.webp) type('image/webp') 1x,
        url(../images/hero/slide3@2x.webp) type('image/webp') 2x,
        url(../images/hero/slide3@1x.jpg) 1x,
        url(../images/hero/slide3@2x.jpg) 2x);
  }
}

.page-wine {
  .section-hero {
    background-image: -webkit-image-set(url(../images/hero/slide5@1x.avif) type('image/avif') 1x,
        url(../images/hero/slide5@2x.avif) type('image/avif') 2x,
        url(../images/hero/slide5@1x.webp) type('image/webp') 1x,
        url(../images/hero/slide5@2x.webp) type('image/webp') 2x,
        url(../images/hero/slide5@1x.jpg) 1x,
        url(../images/hero/slide5@2x.jpg) 2x);
  }
}

.page-delicacies {
  .section-hero {
    background-image: -webkit-image-set(url(../images/hero/slide4@1x.avif) type('image/avif') 1x,
        url(../images/hero/slide4@2x.avif) type('image/avif') 2x,
        url(../images/hero/slide4@1x.webp) type('image/webp') 1x,
        url(../images/hero/slide4@2x.webp) type('image/webp') 2x,
        url(../images/hero/slide4@1x.jpg) 1x,
        url(../images/hero/slide4@2x.jpg) 2x);
  }
}

.page-card {

  .section-slider {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 398px;
      height: 430px;
      left: 2px;
      bottom: -89px;
      z-index: -1;
      background-image: -webkit-image-set(url(../images/page/bg2@1x.png) type("image/png") 1x, url(../images/page/bg2@2x.png) type("image/png") 2x);
    }
  }
}



.page-constructor {
  .gift-baskets__title {
    max-width: 485px;
  }

  .gift-baskets__list {
    margin-top: 136px;
  }
}

.page-blog {
  .assistance {
    margin-top: 140px;
  }
}