.partners {
  // padding-top: 158px;
  padding-top: clamp(3.75rem, 2.525rem + 6.13vw, 9.875rem);
  // padding-left: calc(100vw - 91.67vw);

  &__swiper-container {
    position: relative;
    padding-top: 111px;
    // width: 1930px;
    overflow: hidden;
  }

  &__title {
    position: absolute;
    max-width: 728px;
  }

  &__images {
    margin-bottom: 15px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }

  .swiper-wrapper {
    margin-top: 51px;
    padding-bottom: 30px;
  }

  // .swiper-scrollbar {
  //   border-radius: 0;
  //   position: relative;
  //   touch-action: none;
  //   background: $wild-sand;
  //   opacity: 1 !important;
  // }

  // .swiper-horizontal > .swiper-scrollbar,
  // .swiper-scrollbar.swiper-scrollbar-horizontal {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   top: var(--swiper-scrollbar-top, auto);
  //   z-index: 50;
  //   height: 3px;
  //   width: calc(100% - 2* var(--swiper-scrollbar-sides-offset, 1%));
  // }

  // .swiper-scrollbar-drag {
  //   height: 5px;
  //   // width: 320px !important;
  //   position: relative;
  //   background: $accent;
  //   border-radius: 0;
  //   left: 0;
  //   top: 0;
  // }

  .swiper-slide {
    opacity: 0.5;
    // background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 80%);
    @include transition ($transition-property: (scale, box-shadow));
  }

  .swiper-slide-active,
  .swiper-slide-next {
    opacity: 1;
  }

}