.partners {
  // padding-top: 158px;
  padding-top: clamp(3.75rem, 2.525rem + 6.13vw, 9.875rem);
  // padding-left: calc(100vw - 91.67vw);

  &__swiper-container {
    position: relative;
    padding-top: 111px;
    margin-left: var(--indent);
    overflow: hidden;
  }

  &__title {
    position: absolute;
    max-width: 728px;
  }

  &__images {
    margin-bottom: 15px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }

  .swiper-wrapper {
    margin-top: 51px;
    padding-bottom: 30px;
  }

  .swiper-slide-active + .swiper-slide-next + .swiper-slide {
    mask-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    mask-repeat: no-repeat;
    mask-position: top left;
    @include transition ($transition-property: (scale, box-shadow, mask-image));
  }

  @media screen and (width < 767.99px) {
    .swiper-slide-next {
      // opacity: 0.5;
      mask-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      mask-repeat: no-repeat;
      mask-position: top left;
    }
  }
}