.peculiarities {
  // margin-top: 140px;
  margin-top: clamp(3.75rem, 2.75rem + 5vw, 8.75rem);
  background-image: -webkit-image-set((url(../images/peculiarities/bg1@1x.png) 1x, url(../images/peculiarities/bg1@2x.png) 2x));
  background-position: bottom 218px right;
  background-repeat: no-repeat;
  background-size: 310px 380px;

  &__title {
    max-width: 419px;
    width: 100%;
    // margin-bottom: 54px;
    margin-bottom: clamp(2rem, 1.725rem + 1.38vw, 3.375rem);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__item {
    width: 320px;
    // background-color: $white;

    &--one {
      width: 640px;
    }

    &--mt {
      margin-top: -110px;
    }
  }

  &__text {
    // margin-bottom: 216px;
    margin-bottom: clamp(3.125rem, 1.05rem + 10.38vw, 13.5rem);
    line-height: 140%;
  }

  &__link {
    margin-top: 12px;
  }

  @media screen and (width < 768.99px) {
    &__box {
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;

      &--mt {
        margin-top: 0;
      }
    }
  }
}