.peculiarities {
  margin-top: 140px;
  background: url(../images/peculiarities/bg1@2x.png) bottom 52% right -1.5% / 360px 360px no-repeat;

  &__title {
    max-width: 419px;
    width: 100%;
    margin-bottom: 54px;
  }

  &__box {
    display: flex;
    // gap: 160px;
    justify-content: space-between;
  }

  &__item {
    width: 320px;

    &--one {
      width: 640px;
    }

    &--mt {
      margin-top: -110px;
    }
  }

  &__text {
    margin-bottom: 216px;
    line-height: 140%;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-top: 12px;
  }
}