.phones {
  position: relative;

  &__spoller {
    padding: 15px 44px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    text-align: center;
    color: $white;
    @include transition ($transition-property: (background-color, color));

    &.active {
      background-color: rgba(122, 0, 0, 0.85);
      color: $white;
    }
  }

  &__arrow {
    margin-top: 3px;

  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    // font-variant: all-small-caps;
    // font-size: 14px;

    @include transition($transition-property: color);

    @media (any-hover: hover) {
      &:hover {}

      &:hover .phone__svg {
        // fill: var(--accent);
      }
    }

    // &:hover,
    // &:focus,
    // &:active {
    //   color: var(--accent);
    // }
  }


  &__spoller.active {
    .phones__arrow {
      rotate: 180deg;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    color: $white;
    background: rgba(122, 0, 0, 0.85);
    border-radius: rem(3);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    top: 46px;
    left: 0;
    z-index: 1;
    transform: translateY(-200%);
    opacity: 0;
    @include transition ($transition-property: (transform, opacity));

  }


  &__list.active {
    transform: translateY(0%);
    opacity: 1;
  }

  // @media screen and (width < 480.01px) {
  //   &__arrow {
  //     margin-left: rem(1);
  //   }


}