.products {
  padding-top: clamp(2.5rem, 2.012rem + 2.44vw, 4.938rem);

  &-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__list {
      display: flex;
      justify-content: space-between;
      gap: clamp(2.5rem, 1.6rem + 4.5vw, 7rem);

      // gap: 112px;
      @media screen and (width >=768px) {
        margin-left: auto;
      }
    }

    &__item {
      max-width: 320px;
      line-height: 140%;
    }

    &__content {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    @media screen and (width <=767px) {
      flex-direction: column;

      &__list {

        flex-direction: column;
      }

      &__item {
        width: 100%;
        max-width: none;
      }
    }
  }



  &__filter {
    margin-top: 101px;
  }

  &__btn-filter {
    color: $accent;
    background-color: rgba(122, 0, 0, 0.35);
    border: 1px solid rgba(122, 0, 0, 0.35);
    display: none;
  }

  @media screen and (width <=1200px) {
    &__wrapper {
      display: flex;
      gap: 40px;
    }
  }

  @media screen and (width <=768px) {
    &__top {
      flex-direction: column;
    }

    &__list {
      flex-direction: column;
    }

    &__item {
      max-width: fit-content;
      width: 100%;
    }

    &__wrapper {
      display: block;
      margin-top: 40px;
    }

    &__btn-filter {
      display: block;
    }
  }
}

.products-slider {
  // padding-top: 147px;
  padding-top: clamp(3.75rem, 2.713rem + 5.19vw, 8.938rem);
  // padding-bottom: 81px;
  padding-bottom: clamp(0.625rem, -0.262rem + 4.44vw, 5.063rem);
}

.products-catalog {
  margin-top: 50px;
  padding-right: clamp(0.125rem, -0.35rem + 2.38vw, 2.5rem);
  padding-left: clamp(0.125rem, -0.35rem + 2.38vw, 2.5rem);
  display: flex;
  // gap: 125px 80px;
  gap: clamp(2.5rem, 1.438rem + 5.31vw, 7.813rem) 80px;
  flex-wrap: wrap;

  &__item {
    margin: 0 auto;
  }
}