.reviews-section {
  padding-top: 140px;
  font-weight: 500;

  &__top {
    margin-right: max(15px, (100% - 1600px) / 2);
  }

  &__title {
    text-transform: none;
  }

  .swiper-button {
    top: 22px;
    right: 15px;
  }
}

.reviews {

  &__swiper-container {
    padding-left: max(15px, (100% - 1600px) / 2);

    .swiper-slide {
      opacity: 0.5;
      @include transition ($transition-property: (box-shadow));
    }


    .swiper-slide-active,
    .swiper-slide-next {
      opacity: 1;
    }

    .swiper-slide-next + .swiper-slide {
      opacity: 1;
    }


    @media screen and (width <=1024px) {
      .swiper-slide-next + .swiper-slide {
        opacity: 0.5;
      }
    }

    @media screen and (width <=655px) {
      .swiper-slide-next {
        opacity: 0.5;
      }
    }
  }

  &-list {
    margin-top: 91px;
    padding-bottom: 30px;
  }

  &-header {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &-avatar {
    border-radius: 100%;
    margin-bottom: 12px;
  }

  &-author {
    font-family: var(--font-family);
    font-size: 18px;
    text-transform: capitalize;
    color: $accent;
    margin-bottom: 5px;
  }

  &-date {
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(18, 18, 18, 0.75);
  }

  .stars {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}