.social {
  margin-top: 20px;
  display: flex;
  gap: 13px;
  font-size: 0;

  &__link {
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        .social__icon {
          color: $see-all;
        }
      }
    }
  }
}