.splide {
  position: relative;

  &__list {
    height: 312px !important;
    margin: 0 0 10px 0 !important;
  }

  &__pagination {
    bottom: 40px;

    li {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__arrow {
    width: clamp(2rem, 1.762rem + 1.19vw, 3.188rem);
    height: clamp(2rem, 1.762rem + 1.19vw, 3.188rem);
    // width: 51px;
    // height: 51px;
    background: rgba(#ffffff, .5);
    z-index: 4;

    svg {
      width: 28px;
      height: 18px;
    }

    &--next {
      right: 2.4%;
    }

    &--prev {
      left: 2.4%;
    }

    @media screen and (width < 1024.99px) {
      display: none;
    }
  }


  &__pagination__page {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: clamp(0.375rem, 0.338rem + 0.19vw, 0.563rem);
    height: clamp(0.375rem, 0.338rem + 0.19vw, 0.563rem);
    // width: 9px;
    // height: 9px;
    background: $white;
    border: 0;
    border-radius: 50%;
    opacity: 1;
    transition: transform .2s linear;
  }

  &__pagination__page.is-active {
    background: $sangria;
    transform: scale(1.4);
    z-index: 1;
  }
}