.stars {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__title {
    display: block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__inner {
    display: flex;
  }

  &__num {
    margin-right: 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
  }

  &__list {
    display: flex;
    gap: 4px;
  }

  &__item {
    width: 20px;
    height: 20px;
    background: url(../images/icons/star.svg) left center / 20px 20px no-repeat;
  }
}