.stars {


  &-title {
    display: block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-inner {
    display: flex;
  }

  &-num {
    margin-right: 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
  }

  &-list {
    display: flex;
    gap: 4px;
  }

  &-item {
    width: 20px;
    height: 20px;
    background: url(../images/icons/star.svg) left center / 20px 20px no-repeat;
  }
}