.swiper-button {
  top: 10%;
  left: auto;
  right: 17%;
  // width: 54px;
  // height: 54px;
  width: clamp(2.25rem, 2.025rem + 1.13vw, 3.375rem);
  height: clamp(2.25rem, 2.025rem + 1.13vw, 3.375rem);
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid $accent;

  svg {
    width: auto;
    height: auto;
  }

  &-next {
    right: 17%;
  }

  &-prev {
    margin-right: 60px;
  }

  @media screen and (width < 1024.99px) {
    top: 20%;
  }

  @media screen and (width < 425.99px) {
    // top: 27%;
    display: none;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}