.сonsultation {
  position: relative;
  margin-top: 59px;
  color: $white;
  min-height: 320px;

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // right: 240px;
    right: 61px;
    z-index: 3;
    text-align: center;
  }

  &__text {
    margin-bottom: 13px;
  }

  &__title {
    max-width: 893px;
    // margin-bottom: 50px;
    margin-bottom: clamp(1.563rem, 1.25rem + 1.56vw, 3.125rem);
    letter-spacing: 0.05em;
    line-height: 1.2;
  }

  &__btn {
    letter-spacing: 0.25em;
  }

  &__images {
    position: absolute;
    top: 0;
    left: 0;
  }
}