.section-slider {

  &__top {
    position: relative;
  }

  &__title {
    &:not(:last-child) {
      // margin-bottom: 50px;
      margin-bottom: clamp(1.25rem, 0.875rem + 1.88vw, 3.125rem);
    }
  }

  .swiper {
    // padding-right: 40px;
    // padding-left: 40px;
    padding-right: clamp(0.188rem, -0.275rem + 2.31vw, 2.5rem);
    padding-left: clamp(0.188rem, -0.275rem + 2.31vw, 2.5rem);
  }

  .swiper-wrapper {
    padding-bottom: 20px;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-button {
    position: absolute;
    top: 43%;
    right: 0;
  }
}