.container {
  max-width: 1630px;
  // max-width: calc(1290px + 30px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  outline: 1px solid brown;

  // @media screen and (width < 1024.99px) {
  //   max-width: calc(1290px + 30px);
  //   padding-right: 15px;
  //   padding-left: 15px;
  // }
}

.reach__container {
  max-width: 1280px;
  // max-width: calc(1290px + 30px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}