@use 'sass:math';

html,
body {
    box-sizing: border-box;
    height: 100%;
}


// REM
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}



ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    // font-size: inherit;
}

address {
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    // @extend %second-family-400;
    font-weight: 400;
    font-size: 16px;
    // font-size: clamp(0.75rem, 0.556rem + 0.86vw, 1.25rem);
    // line-height: 1.4;
    color: $main-color;
    overflow-x: hidden;
    min-width: 100vw;
}

button {
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

::marker {
    margin-top: 10px;
}


// ul.products__list>li.products__item*4>div.products__wrapp>img.products__item-img[src=images/products-$.jpg]+p.products__item-price{10$}+h3.title-h3+p.products__item-text+button.products__button-button{Купити}
// .wrapper {
//     display: flex;
//     flex-direction: column;
//     min-height: 100%;
// }

.main {
    overflow-x: clip;
    //     flex: 1 0 auto;
}

// .footer {
//     flex: 0 0 auto;
// }


// .hr-line {
//     border-bottom: 1px solid var(--black);
// }
// .images-bg {
// background: url(../images/footer@1x.png);
// padding-top: 900px;
// background-size: cover;
// background-position: center;
// background-repeat: no-repeat;

// @media screen and (min-device-pixel-ratio: 2),
// screen and (-webkit-min-device-pixel-ratio: 2),
// screen and (-o-mini-device-pixel-ratio: 2/1),
// screen and (min-resolution: 192dpi),
// screen and (min-resolution: 2dppx) {
//   background: url(../images/footer@2x.png);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }
// }

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, .3);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    @include transition ($transition-property: opacity);

    &--active {
        opacity: 1;
        visibility: visible;
    }
}

.dis-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.overflow {
    overflow-x: auto;
    overflow-y: hidden;
}

.flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcbs {
    justify-content: space-between;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}


// .form-errors {
//     display: flex;
//     flex-direction: column;
//     row-gap: 0.4em;
//     margin-top: 0.5em;
//     font-size: 0.8em;
//     color: red;
//     line-height: 1.25;
// }

// .form-errors:empty {
//     display: none;
// }

.progress-line {
    width: 5px;
    height: 3px;
    background-color: rgb(255, 137, 0);
    border-radius: 4px;
}

#input__phone-mask {
    margin-bottom: 5px;
    // text-align: center;
}

button:disabled,
button[disabled] {
    opacity: .6;
    cursor: not-allowed;
}


.alert {
    @include transition ($transition-property: overflow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: $white;
    background-color: $accent;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}